{% extends 'layout/base.html' %}

{% block title %} Profile {% endblock %}
{% block css %}
<style>
    .info_wrapper{
        display:flex;
        justify-content:space-around;
        width:100%;
    }
    .info_wrapper img{
        width:30%;
    }
    .info_user{
        width:70%;
    }
    .info_user h1{
        font-size:25px;
        margin-bottom:50px;
        padding-bottom:20px;
        border-bottom: 1px solid;
    }
</style>
{% endblock %}

{% block content %}
<section id="content">
    <!-- NAVBAR -->

    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <h1 class="title">Thông tin cá nhân</h1>
        <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li class="divider">/</li>
            <li><a href="#" class="active">Thông tin cá nhân</a></li>
        </ul>

        <div class="data">
            <div class="content-data">
                <div class="head">
                    <h3>Thông tin sinh viên</h3>
                    <div class="menu">
                        <i class='bx bx-dots-horizontal-rounded icon'></i>
                        <ul class="menu-link">
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Save</a></li>
                            <li><a href="#">Remove</a></li>
                        </ul>
                    </div>
                </div>
                <div class="chart">
                    <div id="chart"></div>

                    <div class="info_wrapper">
                        <img src="{{current_user.avatar}}" height="50%" alt="">
                        <div class="info_user">
                            <h1>Tài khoản: {{current_user.username}}</h1>
                            <h1>Tên: {{current_user.name}}</h1>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>
    <!-- MAIN -->
</section>


{% endblock %}

{% block script %}

{% endblock %}